.input {
  color: #fff;
  background-color: transparent;
  font-size: 14px;
  border: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.title {
  font-family: 'Source Sans 3', sans-serif;
  font-weight: 600;
  font-size: 32px;
  width: 100%;
}

.date {
  position: relative;
  font-weight: 600;
  font-size: 14px;
  border-bottom: 1px rgba(255, 255, 255, 0.1) solid;
  padding-bottom: 15px;
  padding-left: 146px
}

.date::-webkit-calendar-picker-indicator {
  position: absolute;
  left: 5px;
  background: url('/calendar.svg');
  opacity: 1;
}

.tag {
  position: relative;
  font-weight: 600;
  font-size: 14px;
  padding-bottom: 15px;
  padding-left: 146px
}

.invalid {
  border: 1px solid red;
  background: rgb(116, 58, 58);
}