.journal-item {
  border-radius: 3px;
  padding: 20px;
  background: rgba(255, 255, 255, 0.03);
  color: #fff;
}

.journal-item__title {
  font-weight: 600;
  font-style: normal;
  font-size: 18px;
  line-height: 28px;
}

.journal-item__date {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  color: rgba(255, 255, 255, 0.4);
}

.journal-item__text {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  color: rgba(255, 255, 255, 0.6);
  overflow: hidden;
}

.journal-item__body {
  display: flex;
  gap: 10px;
}
