.journal-form {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.input {
  color: #fff;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.text {
  font-weight: 400;
  font-size: 16px;
}

.label {
  font-weight: 600;
  font-size: 14px;
  color: rgba(255, 255, 255, 0.6);
}

.labelDate {
  position: absolute;
  left: 56px;
  top: 78px;
}

.labelTag {
  position: absolute;
  top: 139px;
  left: 56px;
}

.labelTag::before {
  content: "";
  position: absolute;
  left: -50px;
  width: 18px;
  height: 18px;
  background: url("/folder.svg") no-repeat center;
}

.invalid {
  border: 1px solid red;
  background: rgb(116, 58, 58);
}

.innerButton {
  display: flex;
  justify-content: flex-start;
}
