:root {
  font-family: 'Source Sans 3', sans-serif;
  line-height: 1.5;
  font-weight: 400;

  background-color: #181818;
  color: #ffffff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}
